@import "../overlordStyle";

.loading-block{
  width:100%;
  background-color: $OL-Nav-Background;
  position:fixed;
  z-index: 1100;
  .loading-gif{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.loading-block-inner{
  width: 100%;
  background-color: #0e0e0e;
  @include overlord-shadow();
  position: absolute;
  z-index: 1100;
  top: 0;
  left: 0;
  .loading-gif{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1000px;
  }
}
